/*---------------------------Colours------------------------*/

header {
    background-color: #4B4453;
    height: 100%;
}

.col-6 {
    color: white;
}

a {
    color: #fafafa;
}

.col a:hover {
    text-decoration: none;
    color: #fafafa;
}

.navbar-nav .nav-item a {
    color: #fafafa;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-nav .nav-item a:hover {
    color: #fafafa;
    text-decoration: none;
}

.about-us {
    color: #fafafa;
}

footer {
    background-color: #4B4453;
    color: #fafafa;
}

.social-links li a i {
    color: #fafafa;
    background: #4B4453;
}

.social-links li a i:hover {
    background: #D5CABD;
}




/*-----------------------Headings-----------------------*/

header {
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 0;
    background-image: url(../images/abstract/wallpaperflare.com_wallpaper\ \(9\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    padding: 0px;
}

.container-fluid {
    margin: 0;
    padding: 0px;
}

.col {
    flex-basis: 0;
    max-width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    text-align: left;
}

.col-6 {
    font-weight: 500;
}

h1 {
    font-family: "MonteCarlo", cursive;
}


.col-3 {
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    display: flex;
    justify-content: flex-end;
}

.nav-bar {
    padding-bottom: 0px;
}

.navbar-nav li a {
    font-size: 14px;
    line-height: 7px;
    text-align: end;
}

/*-----------------------Section-----------------------*/

#hero-outer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    opacity: 0;
}

/*---------------Animation keyframes--------------*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.animate-fade-in {
    animation: fadeIn 1.5s ease-in-out forwards;
}

.about-us {
    background-image: url(../images/abstract/wallpaperflare.com_wallpaper\ \(9\).jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-size: 14px;
}

.about-us h2 {
    font-family: "MonteCarlo", cursive;
}

.about-us h2 p {
    font-family: "MonteCarlo", cursive;
}





/*---------Footer----------*/

footer {
    background-image: url(../images/abstract/wallpaperflare.com_wallpaper\ \(9\).jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 50px;
    margin: 0;
    padding-top: 20px;
}

.social-links {
    padding-bottom: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
}

#footer-details {
    padding: 20px;
    text-align: end;
}

.col-sm-4 p {
    text-align: left;
}