@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Hedvig+Letters+Serif:opsz@12..24&family=Smooch&display=swap');

/*------------Colour-----------*/




/*------------Headings-----------*/
h1 {
    font-family: "Smooch" sans-serif;
}




/*------------Header-----------*/
.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
    



/*------------Section-----------*/




/*------------Footer-----------*/



